## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
A = 25
print(A)

25

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
a = 8.5
print(type(a))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(25))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = 'Oswaldo'

5) Crear una variable que contenga un número complejo

In [5]:
vcomp = 4 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(vcomp))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
import math

valor_pi = round(math.pi, 4)
print(valor_pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
var1 = ('True')
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print(type('True'))
print(type(True))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
var = 5 + 2.5

11) Realizar una operación de suma de números complejos

In [13]:
comp1 = 5 + 2.5j
comp2 = 8 + 12j
resultado = comp1 + comp2
print(resultado)

(13+14.5j)

12) Realizar una operación de suma de un número real y otro complejo

In [14]:
num_real = 5
num_complejo = 3 + 2j

resultado = num_real + num_complejo
print(resultado)

(8+2j)

13) Realizar una operación de multiplicación

In [ ]:
mult = 5 * 8

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
pot = 2**8
print(pot)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
divs = 27/4
print(divs)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
divs = 27//4
print(divs)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
divs = 27%4
print(divs)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
resultado = (6*4)+3
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
var1 = '3 casas '
var2 = 'blancas'
conc = var1 + var2
print(conc)

3 casas blancas

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

no son iguales "2" es un string y 2 un entero

In [27]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
print(int('2') + 2)

4

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

se esta utilizando una coma (,) como separador de decimales y la expresión queda como un string

In [29]:
a = float('3,8')
b = float('5.8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [32]:
a = 3 
a -= 1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

en numeros binarios 1 << 2 , se mueve dos espacios a la izquierda el numero 1 quedando 100 = 4

In [35]:
bina = 1<<2
print(bina)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

no se permite operaciones entre integers and strings

In [39]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [38]:
5 + float('2.5')

7.5